<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.suksesdidikan">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuksesDidikan"
        tools:targetApi="31" >
    <activity
        android:name="com.example.suksesdidikan.view.SplashScreenActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name=".view.OnboardingActivity" android:exported="false"/>
        <activity android:name=".view.SignUpActivity" android:exported="false"/>
        <activity android:name=".view.SignInActivity" android:exported="false"/>
        <activity android:name=".view.MainActivity" android:exported="false"/>
        <activity android:name=".view.KursusActivity" android:exported="false"/>
        <activity android:name=".view.DaftarMateriActivity" android:exported="false"/>
        <activity android:name=".view.ResultActivity" android:exported="false"/>
        <activity android:name=".view.BelajarMateriActivity" android:exported="false"/>
        <activity android:name=".view.DaftarBabActivity" android:exported="false"/>
        <activity android:name=".view.DataActivity" android:exported="false"/>
    </application>

</manifest>